section {
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: flex-start;
    max-height: 600px;
    width: auto;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}

div.benefits__text {
    max-width: 50%;
    align-self: center;
}